<div class="form mt-5 max-w-800">
  <%= form_with(model: company) do |f| %>
    <div class="field py-3">
      <%= f.text_field :name, placeholder: "企業名を入力" %>
    </div>
    <div class="field py-5">
      <%= f.rich_text_area :content, placeholder: "企業情報を入力" %>
    </div>
    <div class="field py-3">
      <%= f.select :current_status, [["未選択", "未選択"], ["書類審査待ち", "書類審査待ち"], ["一次面接待ち", "一次面接待ち"], ["二次面接待ち", "二次面接待ち"], ["最終面接待ち", "最終面接待ち"], ["合格", "合格"], ["不合格", "不合格"], ["その他", "その他"]], include_blank: "選択して下さい" %>
    </div>
    <div class="field py-3">
      <p>面接日</p>
      <%= f.datetime_field :interview %>
    </div>
    <div class="field py-3">
      <%= f.text_area :other_info , placeholder: "特筆すべきことを入力" %>
    </div>
    <div class="actions py-3">
      <%= f.submit "投稿する", class:"btn btn-outline-success" %>
    </div>
  <% end %>
</div>
