<div class="container mt-5">
  <h1>企業一覧</h1>
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col"><%= sort_link(@q, :name, "企業名") %></th>
        <th scope="col">現在の状況</th>
        <th scope="col"><%= sort_link(@q, :interview, "面接日") %></th>
        <th scope="col">その他</th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
          <tr>
            <td class="py-3"><%= link_to company.name, company_path(company), class: 'text-decoration-none'%></td>
            <td class="py-3"><%= company.current_status %></td>
            <td class="py-3"><%= l company.interview %></td>
            <td class="py-3"><%= company.other_info %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
  <%= link_to '企業追加', new_company_path, class: "btn btn-primary" %>
</div>



