<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <%= @company.content %>
</p>

<p>
  <strong>Current status:</strong>
  <%= @company.current_status %>
</p>

<p>
  <strong>Interview:</strong>
  <%= @company.interview %>
</p>

<p>
  <strong>Other info:</strong>
  <%= @company.other_info %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
